/* Custome Properties */
:root {
  --clr-primary-700: hsl(300, 43%, 22%);
  --clr-secondary-300: hsl(333, 80%, 67%);

  --clr-neutral-100: hsl(303, 10%, 53%);
  --clr-neutral-200: hsl(300, 24%, 96%);
  --clr-neutral-300: hsl(0, 0%, 100%);

  --ff-primary: 'League Spartan', sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-400: .8125rem;
  --fs-500: .9625rem;
  --fs-900: 2rem;
}

/* CSS RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

/* Remove list styling on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}


/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* General Styling */
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  padding-top: 5rem;
  text-align: center;
}

h1 {
  font-size: var(--fs-900);
  color: var(--clr-primary-700);
  line-height: 1;
  max-width: 12ch;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  font-weight: var(--fw-bold);
}

.lead {
  font-size: var(--fs-500);
}


/* Utilities */

.container {
  max-width: 70rem;
  padding: 0 2em;
  margin: 0 auto;
}